
<div class="flex-container">
    <div class="col-xs-1-12">

      <p class="comic" style="color:white;font-size:25px;">About Me !</p>
      <hr>
      <h5>
        <p class="about" style="font-size:22px;">

        </p>
        <p class="about">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Hey ! I am Shreya. I am a native of Tirunelveli, Tamilnadu.
          I have been living in Pune since 2010 and did most of my schooling here.
          I am currently pursuing my B.Tech 2<sup>nd</sup> year in computer science from Vit-Chennai.
        </p>
        <p class="about">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          I am highly organised and always focused in order to meet any deadlines.
          I enjoy challenges and solving problems.
          My career choice is to become a software engineer.
          I want to work for a reputed company where I can constantly test and develop my skills.
        </p>
      </h5>
    </div>

</div>
