
<div class="flex-container">
    <div class="col-xs-1-12">

      <p class="comic" style="color:white;font-size:25px;">This is me&nbsp;<i class="fa fa-arrow-circle-down" style="font-size:33px;color:white"></i></p>
      <hr>
      <h5>
        <p class="about" style="font-size:22px;">

        </p>
        <p class="about">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Hey ! I am Shreya. I am a native of Tirunelveli, Tamilnadu.
          I have been living in Pune since 2010 and did most of my schooling here.
          I am currently pursuing my B.Tech in Computer Science from Vit-Chennai.
        </p>
        <p class="about">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          I am highly organised and always remain focused in order to meet any deadline.
          I enjoy challenges and solving problems.
          My career choice is to become a Software Engineer.
          I want to work for a reputed company where I can constantly test and develop my skills.
        </p>
      </h5>
    </div>

</div>
