.column {
  padding:10px;
  float:right;
}

.card {
  padding: 0px;
  text-align: center;
  background-color: #202020;
  min-width: 300px;
  max-width:350px;
  border:1px solid white;
  background-image: url("/assets/img/bg.png");
  margin:15px;
  border-radius: 10px;
}

.flex-container {
  margin-left:30px;
}

.img-responsive {
  border-radius: 10px;
  height: 200px;
  filter: brightness(80%);
  padding: 3px;
}

.fluid-container {
  color:lightblue;
  font-size: 15px;
  padding: 5px;
  align-items: left;
  line-height:1.6;
  font-family: "Comic Sans MS", sans-serif;
}
