
<div class="flex-container">
    <div class="col-xs-1-12">
      <h4><p class="comic" style="color:white;font-size:25px;"> My Projects</p></h4>

      <hr>
      <div class="row">


        <div class="card">
          <img class="img-responsive" src="./assets/img/vlat.png" style="max-height:200px;width:auto;">
          <div class="fluid-container">
            <p class="comic"style="color:pink;font-size:18px;">V-LAT(VIT-Leave Application Tracker)</p>
            <p>This is a web application that can be used for the process of leave application
              for the hostellers of VIT which is still done manually.
              These problems can be eliminated by the process of digitalization.
            </p>
          </div>
        </div>
        <div class="card">
          <img class="img-responsive" src="./assets/img/hotel.jpg" style="max-height:200px;width:auto;">
          <div class="fluid-container">
            <p class="comic" style="color:pink;font-size:18px;">Hotel Booking Engine</p>
            <p> It is a database design which deals with renting of rooms(both home stay and hotel stay) by owners.
               It is a two-sided online platform that provides a hassle-free booking for the travellers.
            </p>
          </div>


        </div>
      </div>

      </div>

    </div>
