
<div class="flex-container">
    <div class="col-xs-1-12">
      <h4><p class="comic" style="color:white;font-size:25px;"> My Projects !</p></h4>

      <hr>
      <div class="row">


        <div class="card">
          <img class="img-responsive" src="./assets/img/vlat.png" style="max-height:200px;width:auto;">
          <div class="fluid-container">
            <p >Employee Research Progress Management It is a platform where the faculty under an authorised ID can provide the progress of their research status.On addition to this final year students are provided a portal where they can choose the faculty as their research guides and can also register under them.</p>
          </div>
        </div>
        <div class="card">
          <img class="img-responsive" src="./assets/img/hotel.jpg" style="max-height:200px;width:auto;">
          <div class="fluid-container">
            <p>Hotel Booking Engine It is a platform between hosts and travellers and facilitates the process of renting local homes without owning any rooms itself. It is a two-sided online platform that provides a hassle-free booking for the travellers.</p>
          </div>


        </div>
      </div>

      </div>

    </div>
