
<div class="flex-container"  id="#about">
    <div class="col-xs-1-12">

      <h4><p style="margin-left:30px;color:white;font-size:25px;font-family:cursive;"> My Skills</p></h4>

      <hr style="margin-left:30px;">

      <div class="container">

        <div class="col-xs-3">

          <div class="col-xs-12" >
            <p class="text" style="color:lightblue;font-size:17px;font-family:cursive">Tools </p>

          </div>
          <div class="scrollbar scrollbar-primary">
            <div class="force-overflow">
              <div class="" *ngFor = "let t of tools">
                <div class="col-xs-12" style="border:1px solid #777777;padding: 10px;margin-top:7px;border-radius:10px;">
                  <div class="pull-left"><h4 style="color:white">{{ t.name }}</h4></div>
                  <div class="pull-right" style="left-margein:5px;" ><img src="{{t.imagePath}}" alt="{{t.name}}" class="img-responsive" style="height: 30px;left-margin:5px;"></div>
                </div>
              </div>
            </div>
          </div>

        </div>



        <div class="col-xs-3 tools">

          <div class="col-xs-12" >
            <p class="text" style="color:lightblue;font-size:17px;font-family:cursive">Technology</p>
          </div>

          <div class="scrollbar scrollbar-primary">
            <div class="force-overflow">
              <div class="" *ngFor = "let t of technos">
                <div class="col-xs-12" style="border:1px solid #777777;padding: 10px;margin-top:7px;border-radius:10px;">
                  <div class="pull-left"><h4 style="color:white;">{{ t.name }}</h4></div>
                  <div class="pull-right" style="left-margein:5px;" ><img src="{{t.imagePath}}" alt="{{t.name}}" class="img-responsive" style="height: 30px;left-margin:5px;"></div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
</div>
