.scrollbar {
margin-left: 0px;
float: left;
background: black;
overflow-y: scroll;

}

@media only screen and (min-width: 991px) {
  .scrollbar {
    width: 330px;
    height: 300px;

  }
  .col-xs-3 {
    width: 350px;
  }
  .tools {
    margin-left: 40px;
  }

}

@media only screen and (max-width: 991px) {
  .scrollbar {
    width: 350px;
    height: 150px;
  }
  .col-xs-3 {
    width: 350px;
  }
  .tools {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 699px) {
  .scrollbar {
    width: 290px;
    height: 300px;

  }
  .col-xs-3 {
    width: 290px;
  }
}

.force-overflow {
margin-right:10px;
margin-left:0px;
}

.scrollbar-primary::-webkit-scrollbar {
width: 7px;
background-color: #c0c0c0;
border-radius: 10px;

}

.scrollbar-primary::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #4285F4;
 }

.scrollbar-primary {
scrollbar-color: #4285F4 #F5F5F5;

}

.skill {
  position:fixed;
  color:dodgerblue;
  background-color:grey;
  font-family:cursive;
  width:200px;
  border-radius: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}
