@media only screen and (min-width: 950px) {
  .header {
    left:350px;
    position:fixed;
    top:0;
  }
}

@media only screen and (max-width: 950px) {
  .header {
    right:0px;
    position:fixed;
    top:0;
  }
}

.col-xs-4 {
  width: 350px;

}
@media only screen and (min-width: 750px) {
  .content {
    position:fixed;
    left:350px;
    right:0px;
    top:90px;
  }
}
.content {
  min-width:400px;
}
