
<div class="fluid-container" Style="position:relative;">

  <div class="col-xs-4">
      <app-profile></app-profile>
  </div>

  <div class="col-xs-8 header">
    <header>
  <section>
    <h1>hi</h1>
  </section>
  <nav>
    <ul>
      <li><a routerLink="/">about</a></li>
      <li><a routerLink="/skills">About</a></li>
      <li><a routerLink="/projects">Contact</a></li>
      <li><a routerLink="/sketches">Signin</a></li>
    </ul>
  </nav>
</header>
<main>
    <router-outlet></router-outlet>
  </main>
  </div>

  <div class="col-xs-8 content" style="">

  </div>

</div>
