
<div class="fluid-container">
  <div class="col-xs-9 about">

    <div class="col-xs-2">
    <!--  <img class="profile-pic img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAFEiTvZWTGPlYdh1baXGLUkH0_wTkF-rTNG6QKiygyche_bWc7fuS3O0&s=10">
      --><img class="profile-pic img-responsive" src="./assets/img/profile.jpg">

    </div>


      <div class="col-xs-10" >
        <h3 style="color: white;">Hey! I am Shreya Thiagarajan</h3>
        <h4 style="color: grey;">
          I am a second year computer science and engineering student at Vellore institute of technology-Chennai.
        </h4>
      </div>


    </div>


     <div class="col-xs-3 contact">
        <h3 style="color: white;">Contact Details</h3>
          <h4 style="color: grey;">
            <div class="container">
              <div class="row"><i class="fa fa-phone" style="color:pink;"></i> 9309746106</div>
              <div class="row"><i class="fa fa-envelope" style="color:lightblue;"></i> shreyatr@outlook.com</div>
            </div>
              <div class="container">
              <a href="https://instagram.com/shreya_thiagarajan" target="_blank">  <img style="border-radius: 10px" src="https://seeklogo.com/images/I/instagram-new-2016-logo-D9D42A0AD4-seeklogo.com.png" height="40px"></a>
              </div>





         </h4>

    </div>


</div>
