.about {
  border: 1px solid dodgerblue;
  border-radius: 10px;
  padding: 10px;
}

.profile-pic {
  border: 3px solid dodgerblue;
  border-radius: 50%;

}

.contact {
  color: white;
  height: 150px;
  float: right;
}

hr
 { margin: 10px 0 10px 0; }
