<div class="profile" >
    <div class="flex-container img-container">
      <img class="profile-pic img-responsive" src="./assets/img/profile.jpg">
    </div>

    <h3 >Shreya Thiagarajan</h3>

    <hr>

    <h4>2<sup>nd</sup> year B.tech CSE student at Vit-Chennai.</h4>

    <h3>Contact Me</h3>

    <hr>

    <a href="https://linkedin.com/in/shreya-thiagarajan-073289199/" target="_blank"><img style="border-radius: 10px" src="https://seeklogo.com/images/L/linkedin-icon-logo-FBADE03110-seeklogo.com.png" height="30px"></a>&nbsp;
    <a href="https://instagram.com/shreya_thiagarajan" target="_blank">  <img style="border-radius: 10px" src="https://seeklogo.com/images/I/instagram-new-2016-logo-D9D42A0AD4-seeklogo.com.png" height="30px"></a>

    <h4>
        <div class="container">
          <!--<div class="row"><i class="fa fa-phone" style="color:pink;"></i> 9309746106</div>-->
          <div class="row"><i class="fa fa-envelope" style="color:lightblue;"><a href = "mailto: shreyatr@outlook.com" style="color:lightblue;"> shreyatr@outlook.com</a></i></div>
        </div>
    </h4>
    <hr style="margin-top:5px">
    <div class="flex-container">
      <h5 style="color:#009999;backfont-family:cursive;font-size:15px;">Designed and built by Shreya Thiagarajan</h5>
    </div>


  </div>
