.about {
  border: 1px solid dodgerblue;
}

.profile-con {
  text-align: center;
  display: block;
}

.profile-pic {
  border: 3px solid dodgerblue;
  border-radius: 50%;
  width:200px;

}

.contact {
  color: white;
  top: 0;
  position: fixed;
  min-width: 400px;

}

br {
  line-height: 5%;
  content: "";
}
