
.profile-pic {
  border: 6px double lightblue;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-left: 25px;
  margin-top: 5px;
}

h3 {
  color: white;
}
h4 {
  color: #808080;
}

.profile {

  padding: 10px;
  border-right: 4px solid dodgerblue;
  left:0;
  }

.img-container {
  display: block;
  text-align: center;

}
.fa-envelope {
  font-size:20px;
}
