<div class="profile" >

    <img class="profile-pic img-responsive" src="./assets/img/profile.jpg">

    <h3>Shreya Thiagarajan</h3>

    <hr>

    <h4>2nd year Btech CSE student at Vit-Chennai.</h4>

    <h3>Contact Me</h3>

    <hr>

    <a href="https://linkedin.com/in/shreya-thiagarajan-073289199/" target="_blank"><img style="border-radius: 10px" src="https://seeklogo.com/images/L/linkedin-icon-logo-FBADE03110-seeklogo.com.png" height="30px"></a>&nbsp;
    <a href="https://instagram.com/shreya_thiagarajan" target="_blank">  <img style="border-radius: 10px" src="https://seeklogo.com/images/I/instagram-new-2016-logo-D9D42A0AD4-seeklogo.com.png" height="30px"></a>

    <h4>
        <div class="container">
          <div class="row"><i class="fa fa-phone" style="color:pink;"></i> 9309746106</div>
          <div class="row"><i class="fa fa-envelope" style="color:lightblue;"></i> shreyatr@outlook.com</div>
        </div>
    </h4>

  </div>
